<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style media="screen">
      body{
		background-color:#ede59a;
		text-align: center;
    	vertical-align: middle;
		margin: 5% auto;
	}
	table{
    margin-left:43%; 
    
  }
      form{
        margin: auto;
        text-align: center;
        padding: 10px;
      }
      .full{
        margin: 13% auto 1% auto;
      }
    </style>
</head>
<body>
  <h1 style="margin: 3% auto; text-align: center;">Welcome!</h1>
<div class="full">


<form action="./upload.html" method="post">
    <button class="btn btn-success name="forwardBtn" type="submit" href="upload">Register</button>
</form>

<form action="./verify.html" method="post">
    <button class="btn btn-success name="forwardBtn" type="submit" href="verify">Verify</button>
</form>

</div>

{% for table in tables %}
{{titles[loop.index]}}
{{ table|safe }}
{% endfor %}

</body>
</html>
